body {
  margin: 0;
  padding: 0%;
}

.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.navbar {
  display: flex;
  justify-content: end;
  padding: 10px;
  background-color: transparent;
  padding: 10px;
}
.toggle-btn {
  background: #4caf50;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;

  cursor: pointer;
}

.dark-mode {
  background-color: #000000;
  color: white;
}
.task-list-style {
  list-style-type: none;
}
.task-input-placeholder {
  padding: 10px;
  width: 200px;
}
#incompleted-items-heading {
  display: none;
}
#addTask {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
.listed-item {
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 5px;
}
#popup {
  display: none;
  position: fixed;
  padding: 10px;
  top: 50%;
  left: 50%;
  height: auto;
  width: 200px;
  background: rgb(236, 236, 236) !important;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
}
.popup-warning {
  color: rgb(14, 12, 12);
  font-weight: bold;
}
#closePopup {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
.completed-btn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
.delete-btn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#completed-items-container {
  display: none;
}
#completed-items-heading {
  color: rgb(56, 55, 55);
}
.completed-list {
  list-style: none;
  color: rgb(56, 55, 55);
}
#completed-items-list {
  display: none;

  padding: 19px;
  background-color: #f2f2f2;
}

#incompleted-items-heading {
  color: rgb(56, 55, 55);
  padding: 10px 10px 0px 0px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: grey;
}
